@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto"; }

button {
  padding: 7px 15px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
  cursor: pointer; }

button:focus,
input:focus {
  outline: none; }

body {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../image/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }
  body::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1; }

.title {
  margin: 15px 0; }

.wrapper {
  padding: 10px;
  height: 800px;
  max-width: 900px;
  width: 90%;
  background-color: rgba(20, 130, 59, 0.1);
  border-radius: 20px;
  box-shadow: 0 0 10px 2px black; }

.start-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1e1e26;
  display: flex;
  justify-content: center;
  align-items: center; }
  .start-screen--hide {
    display: none; }
  .start-screen__info {
    padding: 20px;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #54bf8d;
    border: 1px solid black;
    border-radius: 10px; }
    .start-screen__info-text {
      margin-bottom: 20px;
      color: #333; }
    .start-screen__info-control {
      height: 100%;
      width: 100%;
      text-align: center; }
      .start-screen__info-control-button {
        margin: 20px 30px; }

.game {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1.2fr 1fr;
  grid-template-columns: repeat(3, 1fr); }
  .game__player {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .game__player-one {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 3; }
    .game__player-two {
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 2; }
    .game__player-three {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 1; }
    .game__player-four {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 2;
      grid-row-end: 2; }
    .game__player-cards {
      margin: 10px;
      min-height: 110px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .game__player-cards-image {
        margin: 2px;
        height: 100px;
        box-shadow: 0 0 10px 0 black; }
    .game__player-name {
      position: relative; }
      .game__player-name::after {
        content: "";
        position: absolute;
        top: 4px;
        right: -25px;
        height: 15px;
        width: 15px;
        background-color: #777;
        border-radius: 50%; }
    .game__player-status {
      font-size: 0.9rem; }
    .game__player--active .game__player-name::after {
      background-color: yellowgreen;
      animation: blink 1s linear infinite; }
    .game__player--lost {
      opacity: 0.5; }
      .game__player--lost .game__player-name::after {
        background-color: red; }
      .game__player--lost .game__player-status {
        font-weight: bold;
        color: red; }
  .game__cards-pool {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .game__cards-pool-image {
      height: 100px;
      cursor: pointer;
      transition: 0.2s; }
      .game__cards-pool-image:hover {
        transform: scale(1.1); }
  .game__button-pass {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.2s;
    z-index: 0; }
    .game__button-pass:hover {
      transform: translate(-50%, 10%); }
  .game__result {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 250px;
    width: 250px;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 20px;
    box-shadow: 0 0 2px 5px black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    display: none; }
    .game__result-button-restart {
      font-weight: bold;
      transition: 0.3s; }
      .game__result-button-restart:hover {
        background-color: white;
        color: #14823b; }
    .game__result--show {
      display: flex; }
    .game__result-text {
      line-height: 100%;
      display: block; }

@keyframes blink {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  60% {
    opacity: 1; }
  100% {
    opacity: 0; } }
