@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$primary-color: #54bf8d;
$secondary-color: rgb(20, 130, 59);
$tertiary-color: #1e1e26;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

button {
  padding: 7px 15px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
}

button:focus,
input:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
  cursor: pointer;
}

i {
  margin-right: 5px;
  margin-bottom: 5px;
  vertical-align: bottom;
  font-size: 1.7rem;
}
